<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="bowlingStyle.css">
  <link rel="icon" type="image/png" href="favicon.ico">
  <body ng-app="BowlingDemo" ng-controller="BowlingAlley">

    <!-- Header and silly image -->
    <div style="text-align:center">
      <h1>
        Welcome to the Bowl-O-Mat!
      </h1>
      <img width="600" alt="Angular Logo" src="Bowl_O_Mat.jpg"><br />
    </div>

    <!-- Input for adding bowlers to the game -->
    <div ng-if="!game.started">
      <label>Add a bowler:
        <input id='newBowlerName' placeholder="enter your name!">
      </label>
      <button ng-click="addBowler()">Add bowler</button>
    </div>
    <!-- Table displaying bowlers setup so far -->
    <div ng-if="!game.started">
      <h2> Current Bowlers </h2>
      <table width='30%' align='center' ng-if="game">
        <tr><th>Name</th><tr>
        <tr ng-repeat="player in game.strings">
          <td>{{player.bowlerName}}</td>
        </tr>
      </table>
    </div>

    <!-- Button to finalize bowlers and start bowling! -->
    <div ng-if="game.strings.length != 0 && !game.started">
      <label>Done adding bowlers?
        <button ng-click="startGame()">Start Bowling!</button>
      </label>
    </div>

    <!-- Scoreboard of the current game -->
    <div ng-if="game.started">
      <h2> Current Game </h2>
      <h3 style='padding-left:10%'> <b>{{game.strings[game.currentBowler].bowlerName}}</b> is up - You're bowling frame <b>#{{game.strings[game.currentBowler].currentFrame}}</b> !</h3>
      <table width='80%'>
        <tr>
          <th>Name</th>
          <th ng-repeat="headerFrame in game.strings[0].frames" >
            {{headerFrame.frameNo}}
          </th>
          <th>Total</th>
        </tr>
        <tr ng-repeat="bowler in game.strings">
          <td>{{bowler.bowlerName}}</td>
          <td ng-repeat="frame in bowler.frames">
            {{frame.score}}
          </td>
          <td>{{bowler.totalScore}}</td>
        </tr>
      <table>
    </div>
    <!-- Inputs to bowl a random score, or a specific number -->
    <div ng-if="game.started">
      <button ng-if="!game.strings[game.currentBowler].finished" ng-click="rollBall('rand')">Roll a ball (get a random score!)</button>
      <br />
      <button ng-if="!game.strings[game.currentBowler].finished" ng-click="rollBall(10)">Roll a Mark! (automatic strike or spare)</button>
      <p> last ball rolled was a {{game.lastRolled}}</p>
    </div>

    <div ng-if"game.started">
      <button ng-click="reset()">Clear game?</button>
    </div>

  <script>
  var app = angular.module("BowlingDemo", []);
  app.controller("BowlingAlley", function($scope) {
      /* allows bowlers to be added before starting a game */
      $scope.addBowler = function() {
        let newBowlerName = document.getElementById('newBowlerName').value.trim();
        /* checks a name is actually entered */
        if (newBowlerName === "") {
          alert('Please enter a name for the bowler!');
          return;
        }

        /* checks bowler does not already exist */
        let alreadyExists = $scope.game.strings.some(function(player) {
          return player.bowlerName === newBowlerName
        });
        if ( alreadyExists === true ) {
          alert(newBowlerName + ' is already bowling! Enter someone else :)');
          return;
        }

        /* get bowler name from user */
        let aString = angular.copy($scope.aString);
        aString.bowlerName = newBowlerName;
        /* set up their frames */
        for (let f = 1; f <= 10; f++) {
          let anotherFrame = angular.copy($scope.aFrame);
          anotherFrame.frameNo = f;
          /* set up their 2 rolls */
          anotherFrame.rolls.push(angular.copy($scope.aRoll));
          anotherFrame.rolls.push(angular.copy($scope.aRoll));
          /* add the frame to their string */
          aString.frames.push(anotherFrame);
        }

        /* add them to the game */
        $scope.game.strings.push(aString);
        /* clears out name they entered */
        document.getElementById('newBowlerName').value = "";
      };

      /* flips switches to transition UI into bowling mode
            hides the add-bowler pieces and displays scoreboard */
      $scope.startGame = function() {
        $scope.game.started = true;
        $scope.game.currentBowler = 0;
      };

      /* rolls a ball for the current bowler */
      $scope.rollBall = function(knockedDown) {
        let scoreRolled = knockedDown;
        let cString = $scope.game.strings[$scope.game.currentBowler];
        let cFrame = cString.frames[cString.currentFrame - 1];

        if (knockedDown === 'rand') {
          /* dont want them to bowl higher than remaining pins */
          scoreRolled = Math.floor(Math.random()*(cFrame.pinsLeft +1));
        }
        else {
          scoreRolled = (knockedDown > cFrame.pinsLeft) ? cFrame.pinsLeft : knockedDown;
        }
        $scope.game.lastRolled = scoreRolled;

        switch (cFrame.remainingRolls) {
          case 2 :
            cFrame.remainingRolls--;
            cFrame.pinsLeft -= scoreRolled;
            if ( cFrame.pinsLeft === 0 ) {
              cFrame.bonus = 'x';
              /* using negavites as a special code for 10th frame bonus balls */
              cFrame.remainingRolls = (cString.currentFrame !== 10) ? 0 : -2;
              /* remove their last throw - they have no balls left in this frame */
              if (cString.currentFrame !== 10) {
                cFrame.rolls.pop();
              }
              else {
                /* need to reset pins, for when theres no next frame */
                cFrame.pinsLeft = 10;
              }
            }
            cFrame.score += scoreRolled;
            cFrame.rolls[0].score = scoreRolled;
            break;

          case 1 :
            cFrame.remainingRolls--;
            cFrame.pinsLeft -= scoreRolled;
            if ( cFrame.pinsLeft === 0 ) {
              cFrame.bonus = '/';
              cFrame.remainingRolls = (cString.currentFrame !== 10) ? 0 : -1;
            }
            cFrame.score += scoreRolled;
            cFrame.rolls[1].score = scoreRolled;
            break;
          case -1 :
            cFrame.remainingRolls++;
            cFrame.pinsLeft -= scoreRolled;
            if (cFrame.pinsLeft === 0 ) {
              let bonusBall = angular.copy($scope.aRoll);
              bonusBall.order = 4
              bonusBall.score = scoreRolled;
              cFrame.rolls.push(bonusBall);
              /* reset pins */
              cFrame.pinsLeft = 10;
            }
            break;
          case -2:
            cFrame.remainingRolls++;
            cFrame.pinsLeft -= scoreRolled;
            if (cFrame.pinsLeft === 0 ) {
              let bonusBall = angular.copy($scope.aRoll);
              bonusBall.order = 3
              bonusBall.score = scoreRolled;
              cFrame.rolls.push(bonusBall);
              /* reset pins */
              cFrame.pinsLeft = 10;
            }
            break;
          default :
            /* will have to handle 10th frames here */
            break;
        }

        /* moving onto the next frame */
        if (cFrame.remainingRolls === 0 ){
          if ( cString.currentFrame + 1 === 11 ) {
            cString.currentFrame = 10;
            cString.finished = true;
          }
          else {
            cString.currentFrame++;
          }

          /* need to loop back to first/0th bowler - so cap at total number of bowlers */
          $scope.game.currentBowler = (($scope.game.currentBowler + 1) % $scope.game.strings.length);
        }

        $scope.updateGame();
      }

      /* calculates running score of the string(s) */
      $scope.updateGame = function() {
        console.log($scope.game.strings[0].frames);
        let cString = $scope.game.strings[$scope.game.currentBowler];
        let scoreSum = 0;

        for (let f = 0; f < 10; f++) {
          scoreSum += cString.frames[f].score;
          let nextFrame = f + 1 >= cString.frames.length ? cString.frames.length -1 : f+1;
          let nextFrame2 = f + 2 >= cString.frames.length ? cString.frames.length -1 : f+2;
          switch (cString.frames[f].bonus) {
            case 'x' :
              if ( f === 9 ) {
                scoreSum += 10 + cString.frames[f].rolls.reduce(function(total, roll) { return total + roll.score; }, 0);
              }
              /* they got a strike, need to bonus the next 2 balls they threw */
              if (cString.frames[nextFrame].rolls.length === 2) {
                scoreSum += cString.frames[nextFrame].rolls.reduce(function(total, roll) { return total + roll.score; }, 0);
              }
              if (cString.frames[nextFrame].rolls.length === 1) {
                scoreSum += cString.frames[nextFrame].rolls[0].score;
                scoreSum += cString.frames[nextFrame2].rolls[0].score;
              }
              break;
            case '/' :
             /* they got a spare, need to bonus the next 1 ball they threw */
             scoreSum += cString.frames[nextFrame].rolls[0].score;
              break;
            default :
            /*may have to handle 10th frames here */
              break;
          }
        }

        cString.totalScore = scoreSum;
      };

      /* clears the game object to start up a new game */
      $scope.reset = function() {
        $scope.game.started = false;
        $scope.game.currentBowler = -1;
        $scope.game.strings = [];
        $scope.game.started = false;
        $scope.game.lastRolled = 0;
      }

      $scope.game = {
        strings : [],
        currentBowler : -1,
        started : false,
        lastRolled : 0
      };
      $scope.aString = {
        bowlerName : "bowler name",
        currentFrame : 1,
        frames : [],
        totalScore : 0,
        finished : false
      };
      $scope.aFrame = {
        frameNo : 1,
        pinsLeft : 10,
        remainingRolls : 2,
        bonus : '-',
        score : 0,
        rolls : []
      };
      $scope.aRoll = {
        order : 1,
        score : 0
      };
  });
  </script>
  </body>
</html>
