h1 {
  color: #359;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a5a4a4;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    border: 1px solid #a5a4a4;
    background-color: #ddddde;
}

div {
  top-padding: 20px;
}
